body{
    background-color:rgba(0, 0, 255, 0.5);
}

.tit{
    display: flex;
    justify-content: center;
    background-color:white;
    border-radius: 15pc;
    
}


.recebidos{
    
    display: flex;
    justify-content: space-around;
    padding-top: 53px;
}

.digitados{
    padding-top: 25px;
    padding-left: 550px;
    

}

.tit2{
    display: block;
    padding-top: 75px;
    padding-left: 550px;
    
    
}